@page "/inicio"
@using System.ComponentModel.DataAnnotations
@using System.Net.Http.Json
@using Proyecto.Backend.Domain.Entities.Models
@using Proyecto.Shared.Models
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject HttpClient Http

<header class="navbar">
    <div class="navbar-left">
        <h3>Bienvenido, @usuario.NombreCompleto</h3>
    </div>
    <nav class="navbar-right nav-links">
        <NavLink href="/inicio" class="nav-item">
            <i class="bi bi-house-fill"></i> Inicio
        </NavLink>
        <NavLink href="/promocion" class="nav-item">
            <i class="bi bi-bar-chart-line-fill"></i> Promoción
        </NavLink>
        <NavLink href="/perfil" class="nav-item">
            <i class="bi bi-person-fill"></i> Perfil
        </NavLink>
        <NavLink href="/exportar" class="nav-item ">
            <i class="bi bi-download"></i> Agregar Documentos
        </NavLink>
        <!-- cerrar-sesion -->
        <NavLink href="/" class="nav-item ">
            <i class="bi bi-box-arrow-right"></i> Cerrar Sesión
        </NavLink>
        
        
    </nav>
</header>

<main class="contenido">
    <section class="bienvenida">
        <h2>Bienvenido al Sistema de Gestión de Promociones para Docentes de la FISEI</h2>
        <NavLink href="/promocion" class="btn-usuario">
            <i class="bi bi-check2-circle"></i> Iniciar Proceso
        </NavLink>
    </section>
</main>

<footer class="footer">
    <div class="footer-info">
        <div class="footer-section">
            <h4><i class="bi bi-info-circle-fill"></i> Sobre Nosotros</h4>
            <p>Sistema de Promoción para Docentes de la FISEI.<br>Para agilizar trámites.</p>
        </div>
        <div class="footer-section">
            <h4><i class="bi bi-envelope-fill"></i> Contactos</h4>
            <p>support@correo.com<br>+593 99 234 56789</p>
        </div>
        <div class="footer-section">
            <h4><i class="bi bi-link-45deg"></i> Enlaces Rápidos</h4>
            <NavLink href="/inicio"><i class="bi bi-house-fill"></i> Inicio</NavLink><br />
            <NavLink href="/promocion"><i class="bi bi-bar-chart-line-fill"></i> Promoción</NavLink><br />
            <NavLink href="/exportar"><i class="bi bi-backpack4"></i>Exportar Datos</NavLink><br />
            <NavLink href="/perfil"><i class="bi bi-person-fill"></i> Perfil</NavLink>
        </div>
    </div>
    <p class="copyright">© 2025 Sistema de Promoción, Todos los Derechos Reservados</p>



</footer>

@code {
    private UsuarioModel usuario = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var cedula = await localStorage.GetItemAsync<string>("cedulaUsuario");

            if (!string.IsNullOrWhiteSpace(cedula))
            {
                var response = await Http.GetFromJsonAsync<UsuarioModel>($"api/Usuario/porCedula/{cedula}");
                if (response != null)
                    usuario = response;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error cargando datos del usuario: {ex.Message}");
        }
    }


}